# Copyright (c) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

**/target
**/.classpath
**/.project
**/mark*.yaml
.DS_Store
org.eclipse.*
.jsdtscope
.idea
